eval "$(devbox generate direnv --print-envrc)"

export ENVNAME=cmake
export TOP_HEAD=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &> /dev/null && pwd)

unset GITHUB_TOKEN

export_alias _b "$TOP_HEAD/run.sh b"
export_alias _v "$TOP_HEAD/run.sh b --gui"
export_alias _m "$TOP_HEAD/run.sh m"
